@model ProyectoPrograCuatro.Models.Rutas

@{
    ViewBag.Title = "Actualizar Rutas";
}

<div class="container mt-5">
    <!-- Resto del contenido HTML -->

    <div class="card-body">
        @using (Html.BeginForm("Actualizar", "Rutas", FormMethod.Post, new { @class = "form-horizontal", id = "updateForm" }))
        {
            <!-- Campo de edición para la Fecha de Creación (Deshabilitado para edición) -->
            <div class="form-group row">
                @Html.LabelFor(model => model.FechaCreacion, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    <!-- Campo para mostrar la fecha y hora actual -->
                    <input type="text" class="form-control" readonly id="fechaCreacion" />
                    @Html.ValidationMessageFor(model => model.FechaCreacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Campo de edición para el Estado -->
            <div class="form-group row">
                @Html.LabelFor(model => model.Estado, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Estado, new SelectList(new List<SelectListItem>
                {
                new SelectListItem { Text = "En Progreso", Value = "1" },
                new SelectListItem { Text = "Finalizada", Value = "2" }
                }, "Value", "Text"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" onclick="confirmUpdate()" class="btn btn-primary">
                        Actualizar
                    </button>
                    @ViewBag.Message
                </div>
            </div>
        }
    </div>

    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <a asp-action="Lista" class="btn btn-secondary">Regresar a Rutas</a>
        </div>
    </div>
</div>

<script>
    function confirmUpdate() {
        if (confirm("¿Estás seguro de cambiar el estado de la ruta?")) {
            // Si se confirma, enviar el formulario
            document.getElementById("updateForm").submit();
        }
    }

    // Función para obtener y mostrar la fecha y hora actual al cargar la página
    document.addEventListener("DOMContentLoaded", function () {
        var fechaActual = new Date().toLocaleString();
        document.getElementById("fechaCreacion").value = fechaActual;
    });
</script>