@model ProyectoPrograCuatro.Models.Rutas

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

@using (Html.BeginForm("Crear", "Rutas"))
{
    <div class="form-horizontal">
        <h4>Datos de la ruta</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoCliente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CodigoCliente,
                                               new SelectList(ViewBag.Clientes, "Codigo", "Nombre"),
                                               "Seleccione un Cliente",
                                               new { @class = "btn dropdown-toggle" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoChofer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            @Html.DropDownListFor(model => model.CodigoChofer,
                                           new SelectList(ViewBag.Choferes, "Codigo", "Nombre"),
                                           "Seleccione un Cliente",
                                           new { @class = "btn dropdown-toggle" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoCamion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CodigoCamion,
                                      new SelectList(ViewBag.Camiones, "Codigo", "Unidad"),
                                      "Seleccione un Camion",
                                         new { @class = "btn dropdown-toggle" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DireccionEntrega, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DireccionEntrega, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DireccionEntrega, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FechaCreacion, new { @Value = DateTime.Now.ToString("yyyy-MM-ddTHH:mm"), @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.FechaCreacion, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn-primary" />
                @ViewBag.Message
            </div>
        </div>
    </div>
}
<br />

<div>
    @Html.ActionLink("Regresar a Rutas", "Lista")
</div>