@model IEnumerable<ProyectoPrograCuatro.Models.Choferes>
@{
    ViewBag.Title = "Choferes";
}

<h2>Lista de Choferes</h2>

<p>
    @Html.ActionLink("Crear Chofer", "Crear","Choferes")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model.ToList())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @if (item.Estado == 1)
                {
                    <text>Activo</text>
                }
                else
                {
                    <text>Inactivo</text>
                }
            </td>

            
            <td>
                @Html.ActionLink("Editar", "Actualizar","Choferes", new { idchofer=item.Codigo }) |
                @Html.ActionLink("Eliminar","Eliminar","Choferes",
            new { idchofer=item.Codigo })
           </td>
        </tr>
    }
</table>

