@model ProyectoPrograCuatro.Models.Usuarios

@{
    ViewBag.Title = "Actualizar Usuarios";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">Actualizar Usuario</h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Actualizar", "Usuarios", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <h4>Datos del Usuario</h4>
                        <hr />
                        @Html.HiddenFor(model => model.Codigo)

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Nombre, new { @class = "col-md-2 col-form-label" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Usuario, new { @class = "col-md-2 col-form-label" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Contrasenia, new { @class = "col-md-2 col-form-label" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Contrasenia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contrasenia, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Estado, new { @class = "col-md-2 col-form-label" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">
                                    Actualizar
                                </button>
                                @ViewBag.Message
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <a asp-action="Lista" class="btn btn-secondary">Regresar a Usuarios</a>
        </div>
    </div>
</div>
