<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Mi aplicación</title>

    <!-- Agrega estos enlaces para Font Awesome y Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


</head>
<body>
    <!-- Tu contenido Razor sigue aquí -->
    @model IEnumerable<ProyectoPrograCuatro.Models.Reporte>
    @{
        ViewBag.Title = "Reporte";
    }


    <!-- El resto de tu código Razor... -->
    <!-- Scripts de Bootstrap y jQuery (al final del cuerpo) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    @*  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script> *@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>


<div class="container text-center">
    <h2 class="text-primary font-weight-bold">Lista de Reportes</h2>

    <!-- Formulario de filtros -->
    <form method="get" action="@Url.Action("Filtrar", "Reportes")">
        <div class="d-flex flex-wrap justify-content-center mb-3">

            <div class="col-md-auto mb-3">
                <label for="codigoCliente">Código Cliente:</label>
                <input type="text" name="codigoCliente" class="form-control" />
            </div>
            <div class="col-md-auto mb-3">
                <label for="fechaInicio">Fecha Inicio:</label>
                <input type="date" name="fechaInicio" class="form-control" />
            </div>
            <div class="col-md-auto mb-3">
                <label for="fechaFinal">Fecha Final:</label>
                <input type="date" name="fechaFinal" class="form-control" />
            </div>
            <div class="col-md-auto">
                <button type="submit" class="btn btn-primary mt-4">Filtrar</button>
            </div>
            <div class="text-center">
                <button type="button" onclick="descargarTabla()" class="btn btn-success mt-4">Descargar Reporte</button>
            </div>
        </div>
    </form>


<div class="container text-center">
    <table class="table table-bordered table-striped mx-auto">
        <thead class="thead-dark">
            <tr>
                <th>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </span>
                </th>
                <th>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.CodigoChoferes)
                    </span>
                </th>
                <th>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.CodigoCamiones)
                    </span>
                </th>
                <th>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.Estado)
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoChoferes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoCamiones)
                    </td>
                        <td>
                            @if (item.Estado == 0)
                            {
                                <span class="text-danger font-weight-bold"> <i class="fas fa-times-circle" style="font-size: 30px; color: blue;"></i></span>
                            }
                            else if (item.Estado == 1)
                            {
                                <span class="text-success font-weight-bold"> <i class="fas fa-check-circle" style="font-size: 30px;"></i></span>
                            }
                            else if (item.Estado == 2)
                            {
                                <span class="text-danger font-weight-bold"> <i class="fas fa-times-circle" style="font-size: 30px;"></i></span>
                            }
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    <script>
        // Función para descargar la tabla en formato CSV
        function descargarTabla() {
            // Obtener todas las filas de la tabla
            var filas = document.querySelectorAll('table tbody tr');

            // Crear un array para almacenar los datos de cada fila
            var datosTabla = [];

            // Iterar sobre cada fila y extraer los datos
            filas.forEach(function (fila) {
                var fecha = fila.querySelector('td:nth-child(1)').innerText.trim();
                var codigoChoferes = fila.querySelector('td:nth-child(2)').innerText.trim();
                var codigoCamiones = fila.querySelector('td:nth-child(3)').innerText.trim(); // Update this line
                var estado = fila.querySelector('td:nth-child(4)').innerText.trim();

                // Agregar datos al array
                datosTabla.push([fecha, codigoChoferes, codigoCamiones, estado]);
            });

            // Convertir datos de la tabla a formato CSV
            var csvContent = "data:text/csv;charset=utf-8,";

            // Agregar encabezados CSV
            csvContent += "Fecha, Codigo Chofer, Codigo Camion, Estado\n";

            // Agregar filas de datos CSV
            datosTabla.forEach(function (fila) {
                csvContent += fila.join(",") + "\n";
            });

            // Crear un objeto Blob con los datos CSV
            var blob = new Blob([csvContent], { type: 'text/csv' });

            // Crear un objeto URL para el Blob
            var url = window.URL.createObjectURL(blob);

            function fechaFormato() {
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0');
                var yyyy = today.getFullYear();

                return today = mm + '/' + dd + '/' + yyyy;
            }

            // Crear un enlace y simular el clic para iniciar la descarga
            var a = document.createElement('a');
            a.href = url;
            const currentTimestamp = fechaFormato();
            a.download = `reportes-${currentTimestamp}.csv`;
            document.body.appendChild(a);
            a.click();

            // Limpiar el objeto URL
            window.URL.revokeObjectURL(url);
        }
    </script>


</div>
