@model IEnumerable<Progra4BD.Models.Clientes>
@{
    ViewBag.Title = "Clientes";
}

<h2>Lista de Clientes</h2>

<p>
    @Html.ActionLink("Crear Cliente", "Crear","Clientes")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.ToList())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Actualizar","Clientes", new { idcliente=item.id }) |
                @Html.ActionLink("Eliminar","Eliminar","Clientes",
            new { idcliente=item.id },
            new { onclick = "return confirm('¿Desea eliminar el cliente: " + item.nombre + "?')"  })
            </td>
        </tr>
    }
</table>

