@model IEnumerable<ProyectoPrograCuatro.Models.Camiones>
@{
    ViewBag.Title = "Camiones";
}

<div class="text-center">
    <h2 class="text-primary font-weight-bold">Lista de Camiones</h2>
</div>

<div class="container text-center">
    <p>
        <a class="btn btn-primary" asp-action="Crear" asp-controller="Camiones">Crear Camiones</a>
    </p>

    <table class="table table-bordered table-striped mx-auto">
        <thead class="thead-dark">
            <tr>
                <th>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.Codigo)
                    </span>
                </th>
                <th>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.Unidad)
                    </span>
                </th>
                <th>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.Placa)
                    </span>
                </th>
                <th>
                    <span class="badge badge-primary">
                        @Html.DisplayNameFor(model => model.Estado)
                    </span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Placa)
                    </td>
                    <td>
                        @if (item.Estado == 1)
                        {
                            <span class="text-success font-weight-bold">Activo</span>
                        }
                        else
                        {
                            <span class="text-danger font-weight-bold">Inactivo</span>
                        }
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary" asp-action="Actualizar" asp-controller="Camiones" asp-route-codigoCamion="@item.Codigo">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a class="btn btn-danger" asp-action="Eliminar" asp-controller="Camiones" asp-route-codigoCamion="@item.Codigo">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
